version: "3.9"

services:
  db:
    image: postgres:latest
    container_name: simple_db
    environment:
      POSTGRES_DB: simple_lms
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: simple_lms
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./code:/code
    ports:
      - "8001:8000"
    depends_on:
      - db

volumes:
  postgres_data:
